name: github

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  runs-on: ubuntu-latest
  writing-job:
   - name: Get the date
     run: date >>date.log
   - name: Upload output file
     uses: actions/upload-artifact@v2
     with:
        name: date-log-file
        path: date.log
  reading-job:
    needs: writing-job
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2 
        with:
          name: date-log-file
        continue-on-error: true
      - name: Shows the list of dates
        run: cat date.log

     


    
